/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-image: url(../images/cover-image-dark.png);
  --main-text-color: #db00ff;
  --accent-color: #ff0070;
  --main-block-color: #ff0070;
  --block-color: #f1b2ce;
  --font: "IBM Plex mono";
  --text-size: 18px;
  --text-bold: 700;
  --text-lite: 400;
  --header-block-text: #000028;
  --decoration-element: #ff0070;
  --decoration-element-hover: #ff007066;
  --decoretion-word-border: #ffffff;
}
